.container {
    display: flex; 
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}